<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="navbar-brand" href="/friendShop/product">Home</a>
            </li>
        </ul>
    </div>    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/friendShop/order">Orders</a>
            </li>
        </ul>
    </div>
</nav>